<?xml version="1.0" encoding="UTF-8"?>
<beans
    xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
    ">

    <bean id="food" class="com.itczy.org.domain.dto.Food">
        <constructor-arg name="name" value="pingguo"></constructor-arg>
        <constructor-arg name="color" value="red"></constructor-arg>
    </bean>

</beans>